version: '3.9'
services:
  sonet:
    container_name: sonet
    image: sonet:latest
    restart: always
    network_mode: "host"
    volumes:
      - ./.env:/app/.env
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
    environment:
      - GIN_MODE=release

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    ##image: google/cadvisor:latest
    container_name: cadvisor
    network_mode: "host"
    ports:
      - 9080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/snap/docker/common/var-lib-docker/:/var/lib/docker:ro

