version: '3.9'
services:
  postgresql_01:
    image: postgres:14
    container_name: pg1
    restart: always
    volumes:
      - data_pg1:/var/lib/postgresql/data
      - ./Postgresql1.conf:/var/lib/postgresql/data/postgresql.conf:ro
      - ./pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf:ro
      ##- ./initdb.sql:/docker-entrypoint-initdb.d/init.sql
    ##networks:
      ##- pgnet
    environment:
      POSTGRES_DB: cluster
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
  postgresql_02:
    image: postgres:14
    container_name: pg2
    restart: always
    volumes:
      - data_pg2:/var/lib/postgresql/data
      ##- ./Postgresql1.conf:/var/lib/postgresql/data/postgresql.conf
      ##- ./pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      ##- ./initdb.sql:/docker-entrypoint-initdb.d/init.sql
    ##networks:
      ##- pgnet
    environment:
      POSTGRES_DB: cluster
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

  postgresql_03:
    image: postgres:14
    container_name: pg3
    restart: always
    volumes:
      - data_pg3:/var/lib/postgresql/data
      ##- ./Postgresql1.conf:/var/lib/postgresql/data/postgresql.conf
      ##- ./pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      #- ./initdb.sql:/docker-entrypoint-initdb.d/init.sql
    ##networks:
      ##- pgnet
    environment:
      POSTGRES_DB: cluster
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
volumes:
  data_pg1:
  data_pg2:
  data_pg3:

##networks:
  ##pgnet:
    ##driver: bridge
